<div class="menu-bar_container">
  <div class="menu-bar_logo">
    <img
      src="/assets/ps-logo.png"
      alt="playStation-logo"
      srcset=""
      width="140px"
      height="32px"
    >
  </div>
  <div class="menu-bar_item">
    <ul>
      <li><a href="https://www.instagram.com/jonathasrosa.jsx/" target="_blank">Instagram</a></li>
      <li><a href="https://www.linkedin.com/in/jonathasrosa85/" target="_blank">Linkedin</a></li>
      <li><a href="https://github.com/JONATHASROSA" target="_blank">GitHub</a></li>
    </ul>
  </div>
</div>
